annotated-types
anyio
beautifulsoup4
certifi
charset-normalizer
click
colorama
dnspython
email_validator
fastapi
fastapi-cli
fastapi-cloud-cli
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
joblib
langchain
langchain-openai
langchain-postgres
lxml
markdown-it-py
MarkupSafe
mdurl
numpy
openai
orjson
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
psycopg
psycopg[binary]
psycopg2-binary
python-dotenv
python-multipart
PyYAML
PyJWT[crypto]
requests
rich
rich-toolkit
rignore
scikit-learn
scipy
sentry-sdk
shellingham
sniffio
soupsieve
starlette
sqlmodel
threadpoolctl
typer
typing-inspection
typing_extensions
ujson
urllib3
uvicorn
watchfiles
websockets
